@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

body {
  width: 100%;
  height: max-content;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  @apply text-4xl
}
h1, h2, h3 {
  font-family: 'Montserrat';
  font-weight: 900;
}

p {
  font-family: 'Montserrat';
  font-weight: 400;
}

b {
  font-weight: 600;
}

span {
  @apply mx-3 font-bold text-white;
}

button {
  @apply bg-white text-slate-800 text-xl bg-clip-text bg-gradient-to-r from-red-700 to-blue-700 font-black border-2 border-t-cyan-400 border-r-blue-500 border-b-pink-400 border-l-fuchsia-400 px-5 py-2 rounded-lg uppercase;
  font-family: 'Montserrat';
  transition: all 0.5s;
}
button:hover {
  @apply text-white border-white;
  background: linear-gradient(#ff60aa, #3794ff);
  transition: all 0.1s;
  background-clip: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
